*{margin:0;padding:0;border:0;font-size:100%;font:inherit;outline:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
mark,meter,time{display:inline-block}
html{height:100%}
body{height:auto;min-height:100%;position:relative;line-height:1}
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner{border:none;padding:0;margin:0}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
blockquote,em{font-style:italic}
table{border-collapse:collapse;border-spacing:0}
a{outline:0}
button,input[type=button],input[type=checkbox],input[type=radio],input[type=submit],label{cursor:pointer}
.clr{clear:both}
.clr15{height:15px;clear:both}
.clr25{height:25px;clear:both}
.template {
  padding: 0 25px;
  &__nav {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    li {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: inline-block;
        padding: 10px 15px;
        border: 1px solid #683325;
        color: #683325;
        background: #fff;
      }
      &.active {
        a {
          color: #fff;
          background: #683325;
        }
      }
    }
  }
}

.--waiting {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{
  background: transparent url(/images/sprite.png) repeat scroll -137px -3px !important;
  cursor: pointer !important;
  height: 19px !important;
  width: 19px !important;
  border: none !important;
  top: -6px !important;
}