@font-face {
	font-family:'Exo2-Regular';
	src: url('Exo2-Regular_gdi.eot');
	src: url('Exo2-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('Exo2-Regular_gdi.woff') format('woff'),
		url('Exo2-Regular_gdi.ttf') format('truetype'),
		url('Exo2-Regular_gdi.otf') format('opentype'),
		url('Exo2-Regular_gdi.svg#Exo2-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB02;
}

@font-face {
	font-family:'Exo2-Bold';
	src: url('Exo2-Bold_gdi.eot');
	src: url('Exo2-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('Exo2-Bold_gdi.woff') format('woff'),
		url('Exo2-Bold_gdi.ttf') format('truetype'),
		url('Exo2-Bold_gdi.otf') format('opentype'),
		url('Exo2-Bold_gdi.svg#Exo2-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB02;
}

@font-face {
    font-family: 'pf_dindisplay_proregular';
    src: url('pfdindisplaypro-regular-webfont.eot');
    src: url('pfdindisplaypro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-regular-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-regular-webfont.woff') format('woff'),
         url('pfdindisplaypro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ankchiddjgmbalcregular';
    src: url('proximanovaregular-webfont.eot');
    src: url('proximanovaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovaregular-webfont.woff2') format('woff2'),
         url('proximanovaregular-webfont.woff') format('woff'),
         url('proximanovaregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ielaolbpchndjkbregular';
    src: url('proximanovabold-webfont.eot');
    src: url('proximanovabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanovabold-webfont.woff2') format('woff2'),
         url('proximanovabold-webfont.woff') format('woff'),
         url('proximanovabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
