.btn {
  &-prsave {
    background: #383131;
    width: 176px;
    height: 37px;
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
  }
  &-logout {
    color: #7a7a7a;
  }
}

/*
.btn {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  &-primary {
    border: 1px solid $border;
    color: $border;
  }
  &-danger {
    border: 1px solid $blue;
    color: $blue;
  }
}*/
