.slider-comments .next,
.slider-comments .prev {
  position: absolute;
  top: 5px;
  width: 14px;
  height: 22px;
  background-image: url('/images/sprite.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider-comments .prev{
  right: 45px;
  background-position: -259px -2px;
}
.slider-comments .next{
  right: 15px;
  background-position: -271px -2px;
}
.slider-comments .left,
.slider-comments .right{
  position: absolute;
  top: 5px;
  width: 14px;
  height: 22px;
  background-image: url('/images/sprite.png');
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider-comments .left{
  right: 45px;
  background-position: -259px -2px;
}
.slider-comments .right{
  right: 15px;
  background-position: -271px -2px;
}
.slider-comments .title{
  font-size:20px;
  color:#67686d;
  font-weight:400;
  margin:5px 0;
}
.slider-comments .wrap{
  overflow:hidden;
}
.slider-comments .wrap .inline{
  overflow:hidden;
  width:5000%
}
.slider-comments .wrap .inline .ticket-comment{
  position:relative;
  width:314px;
  float:left
}
.slider-comments .starrating{
  margin-top:5px;
  float:left
}