input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 2px #ccc inset;
  width: 100%;
  height: 37px;
  color: #8a8989;
  padding-left: 12px;
}
nav input[type="text"] {
  width: 190px;
  height: 34px;
  font-size: 12px;
  color: #959596;
  padding-left: 0;
  box-shadow: none;
  border: 0;
  border-radius: 0;
}
nav input[type=submit]{
  background: url('/images/sprite.png');
  background-position: -78px -5px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.auth input[type="text"],
.auth input[type="password"],
.auth input[type="email"] {
  padding: 5px;
  border: 1px solid $border;
  margin-bottom: 5px;
  height: auto;
}