.subnav{
  float: left;
  margin-left: 10px;
  &>ul {
    height: 48px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 5px;
      top: 22px;
      display: block;
      width: 5px;
      height: 5px;
      background-image: url('/images/sprite.png');
      background-position: 0 -57px;
    }
    &>li{
      position: relative;
      height: 48px;
      padding: 0 20px;
      display: table;
      float: left;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 22px;
        display: block;
        width: 5px;
        height: 5px;
        background-image: url('/images/sprite.png');
        background-position: 0 -57px;
      }
      span{
        background: url(/images/arrow-nav.png) 0 bottom;
        width: 9px;
        height: 7px;
        margin: 30px 0 0 17px;
        display: inline-block;
      }
      a {
        font-size: 17px;
        color: #fff;
        vertical-align: middle;
        display: table-cell;
        &.holiday {
          color: #7aded4;
        }
      }
      &>ul{
        position: absolute;
        top: 55px;
        left: 0;
        background: #fff;
        -webkit-box-shadow: 2px 2px 0 0 #e6e9ed;
        box-shadow: 2px 2px 0 0 #d8f0ee;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        width: 352px;
        display: none;
        z-index: 9999;
        &::before{
          background:transparent url(/images/before-ul.png) no-repeat scroll 34px 0;
          content:"";
          height:8px;
          left:0;
          position:absolute;
          top:-8px;
          width:100%;
        }
        &>li {
          border-bottom: 1px solid #e6e9ed;
          width: 155px;
          height: 50px;
          padding-left: 21px;
          display: table;
          float: left;
          &:last-child{border:none;}
          &>a{
            color:#000;
            vertical-align:middle;
            display:table-cell;
            &:hover{
              color:#38dbca;
            }
          }
        }
      }
      &:hover {
        background: #683325;
        span {
          background-position: 0 top;
        }
        a {
          color: #2f867d;
        }
        ul {
          display: block;
        }
      }
    }
  }
}

nav form{
  background:#fff;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  width:220px;
  height:34px;
  margin-top:7px;
  padding-left:12px;
  float:right;
}