.auth {
  & > .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .office-auth-login-wrapper {
    width: 100%;
    max-width: 400px;
  }
  .office-auth-register-wrapper {
    width: 100%;
    max-width: 500px;
  }
  .form-group {
    margin-bottom: 20px;
    label {
      margin-bottom: 5px;
      display: block;
    }
  }
}