.orders {
  padding: 0 10px 20px;
  &__table {
    width: 100%;
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      cursor: pointer;
      background-color: #fff;
      transition: background-color .5s;
      &:hover {
        background-color: #ececec;
        transition: background-color .5s;
      }
    }
    th {
      font-weight: 600;
      padding: 10px;
      text-align: left;
    }
    td {
      padding: 10px;
    }
  }
}

.basket-form {
  article {
    .paymontRow {
      span {
        margin: 0;
        max-width: 100%;
        &.p_desc {
          margin-bottom: 5px;
          display: block;
        }
        &.p_bonus {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          input {
            margin-right: 5px;
            max-width: 50%;
          }
        }
      }
      input[type="number"] {
        max-width: 100%;
        box-shadow: 0 1px 2px #ccc inset;
        height: 25px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding-left: 12px;
      }
    }
  }
}

.order {
  &__bonus {
    font-size: 18px;
    line-height: 33px;
    color: #000;
  }
  &__price {
    margin-bottom: 20px;
  }
}

button[type="submit"]:disabled {
  opacity: .7;
}