.profile {
  padding: 0 10px 20px;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  .help-block,
  .form-text {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: .7em;
  }
  fieldset {
    width: 100%;
    &.--inline {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      margin-left: 10px;
    }
  }
  &__form {
    &-group {
      margin-bottom: 20px;
    }
    &-row {
      display: block;
      margin-bottom: 10px;

      &.--nowrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      label {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 1.2em;
      }
    }
  }
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    & > * {
      width: 100%;
      max-width: 50%;
      min-width: 250px;
      margin: 0;
    }
  }
}