.product {
  &__price {
    &-wrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__fast-order {
    padding: 10px 0;
    color: #4c3b46 !important;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
  }
}