.payment {
  &__list{}
  &__item {
    margin-left:5px;
    float:left;
    width: 46px;
    height: 32px;
    &.--visa {
      background: url('/images/sprite.png');
      background-position: -68px -43px;
    }
    &.--mc {
      background: url('/images/sprite.png');
      background-position: -15px -42px;
    }
  }
}
.tel a{
  font-size:12px;
  color: #7a7a7a;
  padding-left:26px;
  float:right;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 26px;
    height: 12px;
    background: url('/images/sprite.png');
    background-position: -216px -8px;
  }
}
.social ul li{
  margin-right:8px;
  padding-right:10px;
  float:left;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 14px;
    background:url('/images/sprite.png') no-repeat;
    background-position: -6px -35px;
  }
  &:last-child {
    &::after {
      background: none;
    }
  }
}