.subheader {
  padding: 10px 18px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  &__wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 261px;
  }
  &__auth {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &-lklink {
      display: block;
      color: #7a7a7a;
      margin-bottom: 5px;
      &.--w-100 {
        width: 100%;
      }
    }
    &-link {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      padding: 10px;
      text-align: center;
      border: 1px solid #683325;
      color: #683325;
      background-color: #fff;
      transition: background-color .5s, color .5s;
      &:hover {
        color: #fff;
        background-color: #683325;
        transition: background-color .5s, color .5s;
      }
    }
  }
}
.contact {
  text-align: center;
  p {
    font-size:16px;
  }
  strong {
    font-size:31px;
    color:#818181;
    margin-bottom:15px;
    display:block;
    margin-left:-3px;
  }
  i {
    font-family:Exo2-Bold;
    color:#20ab9d;
  }
  span {
    height:15px;
    color:#000;
    text-transform:uppercase;
    margin-bottom:15px;
    padding-left:22px;
    display:inline-block;
    vertical-align:middle;
    font-size:12px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 15px;
      height: 15px;
      background-image: url('/images/sprite.png');
      background-position: -164px -6px;
    }
  }
  a {
    height:17px;
    color:#7a7a7a;
    text-decoration:underline;
    display:inline-block;
    vertical-align:middle;
    padding-left:22px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 17px;
      height: 17px;
      background-image: url('/images/sprite.png');
      background-position: -53px -3px;
    }
  }
  a:hover {
    text-decoration:none;
  }
}
.logo {
  background:url(/images/logochel5.png);
  width:198px;
  height:170px;
  margin-right:60px;
  float:left;
  margin-left:130px;
  color:transparent;
}
.social-icons {
  margin-top:120px;
}
.social-item {
  display:inline-block;
  margin-right:5px;
  border:1px solid #ccc;
  padding:5px;
  width:20px;
  text-align:center;
  height:20px;
  line-height:25px;
  -webkit-border-radius:4px;
  border-radius:4px;
  position: relative;
  &.--vk::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('/images/sprite.png');
    background-position: -6px -2px;
  }
  &.--fb::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('/images/sprite.png');
    background-position: -237px -3px;
  }
  &.--im::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('/images/sprite.png');
    background-position: -29px -2px;
  }
  &:hover {
    background-color:#eee;
  }
}
.basket-block {
  .basket {
    width:261px;
    height:41px;
    margin-bottom:15px;
    margin-top:10px;
    border:1px solid #bbb;
    display: flex;
    flex-flow: row nowrap;
  }
  & > a {
    height:12px;
    font-size:12px;
    color:#7a7a7a;
    padding-left:27px;
    float:right;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 26px;
      height: 12px;
      background: url('/images/sprite.png');
      background-position: -216px -8px;
    }
  }
}
.like {
  position:relative;
  background:#7aded4;
  border:1px solid #eee;
  width:40px;
  height:39px;
  a {
    background:url('/images/sprite.png');
    background-position: -107px -3px;
    width:24px;
    height:22px;
    margin:8px auto 0;
    display:block;
  }
  span {
    position:absolute;
    top:-12px;
    right:-5px;
    background:#4c4c4c;
    border-radius:50%;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    width:20px;
    height:20px;
    color:#fff;
    line-height:18px;
    text-align:center;
    z-index:1;
  }
}
.sum {
  position:relative;
  width:190px;
  height:33px;
  padding:7px 15px 0 5px;
  strong {
    height:24px;
    font-family:Exo2-Bold;
    font-size:16px;
    line-height:26px;
    color:#56b6ac;
    padding-left:32px;
    display:inline-block;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 30px;
      height: 24px;
      background-image: url('/images/sprite.png');
      background-position: -185px 0;
    }
  }
  a {
    color:#7e7f84;
    line-height:26px;
    float:right;
    font-size:14px;
  }
}
#msMiniCart {
  font-size:.8em;
  h5 {margin:0;}
  .empty{display:block;}
  .not_empty{display:none;}
  &.full {
    .empty{display:none;}
    .not_empty{display:block;}
  }
}
.hiraku-open-btn{
  padding:6px;
  cursor:pointer;
  border:1px solid #ccc;
  -webkit-border-radius:3px;
  border-radius:3px;
  width: 40px;
  height: 40px;
  background-image: url('/images/sprite.png');
  background-position: -253px -41px;
  background-color: #FFF;
  &-line{
    position:relative;
    display:block;
    width:18px;
    height:2px;
    margin:6px 0;
    -webkit-transition:.1s all;
    -o-transition:.1s all;
    transition:.1s all;
    -webkit-border-radius:1px;
    border-radius:1px;
    background-color:#fff;
    &::after,
    &::before {
      position:absolute;
      display:block;
      width:100%;
      height:2px;
      content:'';
      -webkit-transition:.3s all;
      -o-transition:.3s all;
      transition:.3s all;
      -webkit-border-radius:1px;
      border-radius:1px;
      background-color:#fff;
    }
    &::before{top:-6px}
    &::after{bottom:-6px}
  }
}
[aria-expanded=true] .hiraku-open-btn-line{background-color:transparent}
[aria-expanded=true] .hiraku-open-btn-line:after,[aria-expanded=true] .hiraku-open-btn-line:before{width:22px}
[aria-expanded=true] .hiraku-open-btn-line:before{-ms-transform:translate(-2px,6px) rotate(45deg);-webkit-transform:translate(-2px,6px) rotate(45deg);transform:translate(-2px,6px) rotate(45deg)}
[aria-expanded=true] .hiraku-open-btn-line:after{-ms-transform:translate(-2px,-6px) rotate(-45deg);-webkit-transform:translate(-2px,-6px) rotate(-45deg);transform:translate(-2px,-6px) rotate(-45deg)}