@media print{
  div.jGrowl{display:none}
}
@media print{
  div.jGrowl{display:none}
}

@media (max-width: 1100px) {
  .mobile {
    &-header {
      display: block;
      width: 320px;
      margin: 0 auto 10px;
      padding-top: 10px;
      &-cart {
        float: left;
        width: 60px;
        margin-right: 10px;
        &-link {
          padding: 6px 6px 6px 35px;
          cursor: pointer;
          border: 1px solid #ccc;
          border-radius: 3px;
          background: 0 0;
          text-align: center;
          width: 40px;
          height: 20px;
          display: block;
          position: relative;
          margin-left: -25px;
          &::before {
            content: '';
            position: absolute;
            left: 6px;
            top: 0;
            display: block;
            width: 32px;
            height: 32px;
            background-image: url('/images/sprite.png');
            background-position: 29px -44px;
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@media(max-width: 350px) {
  .product__price-wrap {
    flex-flow: column nowrap;
    align-items: center;
  }
  .product__price-quontity {
    margin-bottom: 10px;
  }
  .product__fast-order {
    width: 100%;
    text-align: center;
  }
  .subheader__auth {
    margin-top: 10px;
  }
}